* {
    padding: 0;
    margin: 0;
    font-family: 'Graphik', sans-serif;
    box-sizing: border-box;
}
html { scroll-behavior: smooth;  }
body,
textarea,
input {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    color: #000000;
    font-family: 'Graphik', sans-serif;
}

a:hover {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}
p {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
ul,
ol {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: unset;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

/*-_-_Font_-_-*/
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Extralight.woff2') format('woff2'),
    url('../fonts/Graphik-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Light.woff2') format('woff2'),
    url('../fonts/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
    url('../fonts/Graphik-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-LightItalic.woff2') format('woff2'),
    url('../fonts/Graphik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Graphik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
    url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-RegularItalic.woff2') format('woff2'),
    url('../fonts/Graphik-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold.woff2') format('woff2'),
    url('../fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/Graphik-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-SuperItalic.woff2') format('woff2'),
    url('../fonts/Graphik-SuperItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-Super.woff2') format('woff2'),
    url('../fonts/Graphik-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Thin.woff2') format('woff2'),
    url('../fonts/Graphik-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ThinItalic.woff2') format('woff2'),
    url('../fonts/Graphik-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.woff2') format('woff2'),
    url('../fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BlackItalic.woff2') format('woff2'),
    url('../fonts/Graphik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BoldItalic.woff2') format('woff2'),
    url('../fonts/Graphik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.woff2') format('woff2'),
    url('../fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*-_-_Font_-_-*/



/*-_-_Header_CSS_Start_-_-*/
header {
    position: relative;
    margin-bottom: 62px;
    border-bottom: 0.4px solid rgba(44, 43, 42, 0.3);
    position: sticky;
    top: 0;
    z-index: 50;
    background: #ffffff;
}

header .navbar-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    padding-left: 47px;
    padding-right: 50px;
    position: relative;
    /* max-width: 1440px;
	margin: 0 auto; */
}

.navbar-wrap .menu-btn {
    display: none;
    font-size: 0;
    line-height: 1;
    border: 0;
    outline: unset !important;
    background: transparent;
    margin-right: 23px;
    width: 26px;
    height: 26px;
}

.navbar-wrap .menu-btn img {
    width: 100%;
    height: 100%;
}

.navbar-wrap .menu-btn img.close-img {
    display: none;
}

.navbar-wrap .toggle-btn {
    display: none;
}

.navbar-wrap .navbar-nav {
    position: absolute;
    left: 0;
    top: calc(100% + 0.4px);
    width: 100%;
    padding: 21px 47px;
    background: #fff;
}

.navbar-wrap .navbar-nav .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-wrap .navbar-nav .navbar li {
    margin-right: 22px;
}

.navbar-wrap .navbar-nav .navbar li:last-child {
    margin-right: 0;
}

.navbar-wrap .navbar-nav .navbar li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #2C2B2A;
    transition: 0.4s all ease;
}

.navbar-wrap .navbar-nav .navbar li a:hover {
    color: #CEBDA2;
}

.navbar-wrap .navbar-nav .navbar .submenu {
    display: none;
}

.navbar-wrap .user-link {
    font-size: 0;
    line-height: 1;
}

.navbar-wrap .user-link img {
    width: 20px;
}

.navbar-wrap .navbar-brand {
    max-width: 131px;
    font-size: 0;
    line-height: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-wrap .navbar-brand img {
    width: 100%;
}

.navbar-wrap .links-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-wrap .links-list li {
    font-size: 0;
    line-height: 1;
    margin-right: 16px;
}

.navbar-wrap .links-list li:last-child {
    margin-right: 0;
}

.navbar-wrap .links-list li a {
    font-size: 0;
    line-height: 1;
}

.navbar-wrap .links-list li a img {
    max-width: 23px;
    max-height: 23px;
}

.navbar-wrap .links-list li a.cart-link {
    position: relative;
}

.navbar-wrap .links-list li a.cart-link span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #000000;
    left: calc(100% + 7px);
    bottom: 0;
    font-family: 'Aldrich';
    position: absolute;
    text-decoration: unset;
    display: block;
}
/*-_-_Header_CSS_End_-_-*/

/*-_-_Banner_CSS_Start_-_-*/

.banner {
    padding: 17px 0 ;
}

.banner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 0 auto;
	max-width: 1440px; */
}

.banner-row .banner-left {
    width: 54.1%;
}

.banner-content {
    position: relative;
}

.banner-content>img {
    width: 100%;
}

.banner-content .banner-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 59px 72px 50px;
}


.banner-inner .banner-inner-top span {
    background: rgba(105, 92, 84, 0.8);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #F5F4F2;
    margin-bottom: 23.34px;
    padding: 13.9px 0 12.7px;
    display: block;
    max-width: 393px;
}

.banner-inner .banner-inner-top h3 {
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F5F4F2;
}

.banner-inner .banner-inner-btm {
    text-align: right;
}

.banner-inner .banner-inner-btm h2 {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F5F4F2;
    margin-bottom: 17px;
}

.banner-inner .banner-inner-btm a {
    background: rgba(245, 244, 242, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.015em;
    color: #3E3E3E;
    padding: 11px 15px 10px;
    width: 149px;
    text-align: center;
    transition: 0.4s all ease;
}

.banner-inner .banner-inner-btm a:hover {
    background: #CEBDA2;
}

.banner-row .banner-grid {
    width: 42.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-grid .banner-grid-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 37.795%;
}

.banner-grid .banner-grid-top li {
    width: calc(50% - 15px);
    position: relative;
    font-size: 0;
    line-height: 1;
    height: 100%;
}

.banner-grid .banner-grid-top li>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-grid-top li .banner-label {
    position: absolute;
    width: 133px;
    height: 64px;
    left: 0;
    top: 15px;
    background: #C6B9AE;
    z-index: 1;
    padding: 12px 15.5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #BE2E0E;
    border-radius: 0 10px 10px 0;
}

.banner-grid-top li:nth-child(2) .banner-label {
    color: #8B6846;
}

.banner-grid-top li .find-more-btn {
    background: rgba(114, 87, 62, 0.72);
    border-radius: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #F8F4E8;
    width: 125px;
    padding: 12.83px 0 12px;
    position: absolute;
    bottom: 25.82px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-grid .flat-offer {
    position: relative;
    height: 57.44%;
}

.flat-offer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flat-offer .flat-offer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 22.86px 23.96px;
    text-align: right;
}

.flat-offer .flat-offer-content h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #F5F4F2;
    margin-bottom: 12.91px;
}

.flat-offer .flat-offer-content a {
    background: rgba(245, 244, 242, 0.61);
    backdrop-filter: blur(4px);
    border-radius: 18px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #3E3E3E;
    padding: 14.05px 46.95px 12.6px;
}
/*-_-_Banner_CSS_End_-_-*/

/*-_-_Content_CSS_Start_-_-*/
.shop-range-warp {
    padding: 100px 0;
}

.shop-range-warp .shop-range-content {
    max-width: 1375px;
    padding: 0 15px;
    margin: 0 auto;
}

.shop-range-warp .shop-range-content h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 32px;
}

.shop-range-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
}

.shop-range-row .shop-range-col {
    width: 25%;
    padding: 0 14px;
}

.shop-range-card {
    position: relative;
    font-size: 0;
    line-height: 1;
}

.shop-range-card>img {
    width: 100%;
    border-radius: 22px;
}

.shop-range-card a {
    background: #EBEBEA;
    border: 1px solid #000000;
    border-radius: 18px;
    /* height: 34px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10.5px 7px 16px;
    max-width: 135px;
    width: 100%;
    position: absolute;
    left: 15.4px;
    bottom: 18.45px;
    transition: 0.4s all ease;
}

.shop-range-card a:hover {
    background: #CEBDA2;
}

.shop-range-card span {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #1E1E1E;
    display: inline-block;
    padding-top: 3.4px;
}

.shop-range-card a img {
    width: 14px;
    margin-left: 4px;
}

/*-_-_About Us_CSS_Start_-_-*/
.aboutus-wrap {
    padding-top: 56px;
    padding-bottom: 148px;
}

.aboutus-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.aboutus-row .aboutus-col {
    width: 50.9%;
}

.aboutus-card {
    background: #E1DDD8;
    padding: 82px 38px 93px 24px;
}

.aboutus-card .aboutus-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 47px;
}

.aboutus-card .aboutus-content>img {
    max-width: 238px;
    width: 100%;
}

.aboutus-card .aboutus-content .aboutus-inner {
    min-width: 228px;
    width: 34%;
    text-align: right;
}

.aboutus-card .aboutus-content .aboutus-inner span {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    display: block;
}

.aboutus-card .aboutus-content .aboutus-inner h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
}

.aboutus-card p {
    max-width: 445px;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #3E3E3E;
}

.aboutus-row .explore-col {
    width: 49.1%;
    padding: 0 15px;
}

.aboutus-row .explore-col span {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 10px;
    display: block;
}

.aboutus-row .explore-col h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    font-family: 'Averia Serif Libre';
    margin-bottom: 28px;
}

.aboutus-row .explore-col .slider-img {
    max-width: 559px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
/*-_-_About Us_CSS_End_-_-*/

/*-_-_Review_CSS_Start_-_-*/
.review-wrap { /* review background */
    background: rgba(223, 222, 218, 0.77);
    padding: 63px 0 104px;
    margin-bottom: 152px;
}

.review-wrap .review-content {
    max-width: 952px;
    margin: 0 auto;
}

.review-wrap .review-content>span {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    margin-bottom: 6px;
    display: block;
}

.review-wrap .review-content>h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #3E3E3E;
    font-family: 'Averia Serif Libre';
    margin-bottom: 51px;
}

.review-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.review-row .review-col {
    max-width: 427px;
}

.review-card {
    display: flex;
    flex-wrap: wrap;
    background: #F5F4F2;
    border-radius: 22px;
    overflow: hidden;
}

.review-card .review-card-content {
    width: calc(100% - 154.64px);
    padding: 25px 22px 23.6px 24.24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.review-card .review-card-content .review-card-inner {
    margin-bottom: 12px;
}

.review-card .review-card-content .review-card-inner p {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.015em;
    color: #3E3E3E;
    margin-bottom: 12px;
}

.review-card .review-card-content .review-card-inner a {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.015em;
    color: #3E3E3E;
    display: inline-block;
}

.review-card .review-card-content .rating-wrap {
    display: inline-flex;
    flex-wrap: wrap;
}

.review-card-content .rating-wrap img {
    width: 19px;
    height: 16px;
    margin-right: 8px;
}

.review-card-content .rating-wrap img:last-child {
    margin-right: 0;
}

.review-card .review-card-img {
    width: 154.64px;
}

.review-col:last-child .review-card {
    flex-direction: row-reverse;
}

.review-col:last-child .review-card .review-card-content {
    text-align: right;
}

.review-col:last-child .review-card .review-card-content .rating-wrap {
    justify-content: flex-end;
}
/*-_-_Review_CSS_End_-_-*/

/*-_-_Stay in touch_CSS_Start_-_-*/
.stay-in-touch-wrap {  /* stay in touch background */
    background: #1E1E1E;
}

.stay-in-touch-wrap .stay-in-touch-content {
    max-width: 534px;
    margin: 0 auto;
    padding: 60px 0 65.42px;
}

.stay-in-touch-wrap .stay-in-touch-content>span {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFE;
    margin-bottom: 12px;
    display: block;
}

.stay-in-touch-wrap .stay-in-touch-content>h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFE;
    margin-bottom: 51px;
}

.stay-in-touch-wrap .stay-in-touch-content>p {
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #FFFFFE;
    margin-bottom: 39px;
}

.stay-in-touch-content form label {
    padding-left: 20px;
    margin-bottom: 9.3px;
    font-size: 9px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFE;
    letter-spacing: 0.015em;
    display: block;
}

.stay-in-touch-content form input {
    padding-left: 20px;
    margin-bottom: 9.3px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.015em;
    background: rgba(223, 222, 218, 0.94);
    height: 47px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    outline: unset !important;
    padding: 0 20px;
    margin-bottom: 14.5px;
}

.stay-in-touch-content form button {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
    color: #3E3E3E;
    letter-spacing: 0.15em;
    height: 35px;
    padding: 0 25px;
    border-radius: 20px;
    outline: unset !important;
    border: 0;
    margin: 0;
    margin-left: auto;
    display: block;
    cursor: pointer;
    background: #F5F4F2 !important;
}
/*-_-_Stay in touch_CSS_End_-_-*/
/*-_-_Content_CSS_End_-_-*/

/*-_-_Footer_CSS_Start_-_-*/
.footer-content {
    margin: 46px 80px 40px;
    padding: 54px 0 55px;
    border-top: 0.4px solid  rgba(44, 43, 42, 0.3);
    border-bottom: 0.4px solid rgba(44, 43, 42, 0.3);
}

.footer-content .footer-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 880px;
    margin: 0 auto;
}

.footer-content .footer-row .footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-content .footer-row .footer-col.footer-logo-col {
    display: none;
}

.footer-col .footer-links + .footer-links {
    display:  none;
}

.footer-links h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2223;
    letter-spacing: 0.015em;
    color: #2C2B2A;
    margin-bottom: 9px;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li:last-child {
    margin-bottom: 0;
}

.footer-links ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.015em;
    color: #000000;
    transition: 0.4s all ease;
}

.footer-links ul li a:hover {
    color: #CEBDA2;
}

.footer-social-links {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.footer-social-links .footer-logo {
    max-width: 184px;
    margin-top: -8px;
}

.footer-social-links .footer-logo img {
    width: 100%;
}

.footer-social-links .social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-social-links .social-links li {
    margin-right: 16.5px;
    font-size: 0;
    line-height: 1;
}

.footer-social-links .social-links li:last-child {
    margin-right: 0;
}

.footer-social-links .social-links li a {
    font-size: 0;
    line-height: 1;
}

.footer-social-links .social-links li a img {
    height: 24px;
    max-width: 33.1px;
}

footer .footer-copyright {
    background: #EBEBEA;
    padding: 25px 0;
}

footer .footer-copyright p {
    text-align: center;
    max-width: 300px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.015em;
    color: #2C2B2A;
    margin: 0 auto 15px;
}

footer .footer-copyright p:last-child {
    margin-bottom: 0;
}

footer .footer-copyright p a {
    color: #2C2B2A;
    transition: 0.4s all ease;
}

footer .footer-copyright p a:hover {
    color: #CEBDA2;
}
/*-_-_Footer_CSS_End_-_-*/

/*-_-_Search-Page_CSS_Start_-_-*/

.search-wrap .search-top-wrap {
    padding: 23px 38px 25px 47px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.search-top-wrap .search-input {
    width: calc(100% - 47px);
    position: relative;
}

.search-input input {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: rgba(124, 127, 132, 1);
    background: #F5F4F2;
    border: 0.5px solid #F5F4F2;
    border-radius: 12px;
    height: 54px;
    padding: 0 60px 0 23px;
    width: 100%;
}

.search-input input::placeholder {
    color: rgba(124, 127, 132, 0.84);
}

.search-input img {
    width: 21px;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
}

.search-top-wrap button {
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    outline: unset !important;
    cursor: pointer;
}

.search-top-wrap button img {
    width: 100%;
    height: 100%;
}

.search-wrap .search-category-wrap {
    padding: 40px 43px 108px 47px;
    display: flex;
    flex-wrap: wrap;
}

.search-category-wrap .top-category {
    width: 24.8%;
    border-right: 0.4px solid rgba(44, 43, 42, 0.3);
    padding-right: 15px;
}

.top-category h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C2B2A;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.top-category ul li {
    width: 100%;
    margin-bottom: 17px;
}

.top-category ul li:last-child {
    margin-bottom: 0;
}

.top-category ul li a {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: #2C2B2A;
}

.search-category-wrap .popular-product {
    width: 75.2%;
    padding-left: 52px;
}

.popular-product h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C2B2A;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.popular-product-row {
    margin: 0 -15px -49px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.popular-product-row .popular-product-col {
    padding: 0 15px 49px;
    /* max-width: 326px; */
    width: 25%;
}

.product-card {
    width: 100%;
    max-width: 296px;
    margin: 0 auto;
}

.popular-product-col:nth-child(4n - 3) .product-card {
    margin-left: 0;
}

.popular-product-col:nth-child(4n) .product-card {
    margin-right: 0;
}

.product-card .product-img-wrap {
    background: #F8F7F6;
    border-radius: 22px;
    margin-bottom: 14px;
    height: 277px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.product-card .product-img-wrap .favr-btn {
    width: 19.2px;
    height: 16.8px;
    background: transparent;
    border: 0;
    position: absolute;
    z-index: 5;
    top: 21.2px;
    right: 22px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.product-card .product-img-wrap .cart-btn {
    display: inline-block;
    top: 21.5px;
    right: 50px;
    position: absolute;
    z-index: 5;
    width: 17px;
    height: 17px;
    border: 0;
    background: transparent;
    outline: unset !important;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
}

.product-card .product-img-wrap .cart-btn img,
.product-card .product-img-wrap .favr-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card .product-img-wrap>img {
    max-width: 100%;
    transition: 0.4s all ease;
}

.hover-img-card.product-card .product-img-wrap:hover>img {
    opacity: 0;
    border-radius: 22px;
}

.hover-img-card.product-card .product-img-wrap>img.hover-img {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hover-img-card.product-card .product-img-wrap:hover>img.hover-img {
    opacity: 0.8;
}

.product-card .product-img-wrap .choose-clr {
    position: absolute;
    left: 18px;
    bottom: 20px;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
}

.choose-clr li {
    font-size: 0;
    line-height: 1;
    margin-right: 7px;
}

.choose-clr li button {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    outline: unset;
    border: 0;
    cursor: pointer;
}

.product-card h5,
.product-card a {
    font-family: 'Averia Serif Libre';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #2C2B2A;
    margin-bottom: 9px;
}

.product-card p {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #2C2B2A
}

/*-_-_Search-Page_CSS_End_-_-*/

/*-_-_Search-Result-Page_CSS_Start_-_-*/
.breadcrumb {
    padding: 12px 22px 12.4px;
    list-style: none;
    display: none;
    align-items: center;
}

.breadcrumb li + li::before {
    content: url(../images/arrow-right.png);
    width: 6.84px;
    height: 12.05px;
    margin-right: 20.17px;
}

.breadcrumb li + li {
    margin-left: 20.17px;
}

.breadcrumb li {
    display: flex;
}

.breadcrumb li,
.breadcrumb li a {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #2C2B2A;
    text-transform: uppercase;
}

.search-banner {
    position: relative;
    font-size: 0;
    line-height: 1;
}

.search-banner img {
    width: 100%;
}

.search-banner span {
    background: rgba(223, 222, 218, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 18px 0px 0px 18px;
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #2C2B2A;
    min-width: 165px;
    top: 42px;
    right: 0;
    position: absolute;
    z-index: 2;
    padding: 8px 10px;
    display: inline-block;
}

.search-links-wrap {
    text-align: center;
    padding: 37px 47px;
}

.search-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
}

.search-links li {
    padding: 0 15px;
}

.search-links li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C2B2A;
    background: rgba(223, 222, 218, 0.77);
    border-radius: 18px;
    padding: 14.5px 36px;
    text-transform: uppercase;
}

.search-filter-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 0.8px solid rgba(223, 222, 218, 0.77);
    border-bottom: 0.8px solid rgba(223, 222, 218, 0.77);
    padding: 31px 38px;
}

.search-filter-wrap .page-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-filter-wrap .page-link li {
    font-size: 0;
    line-height: 1;
}

.search-filter-wrap .page-link li +  li {
    padding-left: 16px;
}

.search-filter-wrap .page-link li +  li::before {
    content: "|";
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #797673;
    margin-right: 16px;
}

.search-filter-wrap .page-link a {
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #797673;
}

.custom-select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.custom-select img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.custom-select select {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2C2B2A;
    text-transform: uppercase;
    border: 0;
    outline: unset !important;
    display: inline-block;
    height: 18px;
    margin-top: 1px;
}

.search-category-wrap {
    padding: 72px 30px 169px;
}

.search-product-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -56px;
    justify-content: space-between;
}

.search-product-row .search-product-col {
    padding: 0 10px 56px;
    width: 25%;
}

/*-_-_Search-Result-Page_CSS_End_-_-*/

/*-_-_Product-Page_CSS_Start_-_-*/
.product-main-wrap {
    padding: 0 30px;
}

.product-main-wrap .product-img {
    width: 100%;
    object-fit: cover;
}

.product-description-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-img-slider {
    max-width: 781px;
    width: 56.6%;
    padding-right: 20px;
}

.product-img-slider .tabcontent {
    color: white;
    display: none;
    text-align: center;
}

.product-img-slider .tabcontent img {
    max-width: 645px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.product-img-slider .tab {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.product-img-slider .tablinks {
    width: calc(12.5% - 5.25px);
    aspect-ratio: 1/1;
    border: 1px solid #F8F7F6;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.6;
    margin-right: 6px;
}

.product-img-slider .tablinks:last-child {
    margin-right: 0;
}

.product-img-slider .tablinks.active {
    opacity: 1;
    border: 1px solid #CACACA;
}

.product-img-slider .tablinks img {
    width: 100%;
    height: 100%;
}

.product-description {
    background: #FFFFFF;
    box-shadow: 2px -15px 10px 4px rgba(167, 158, 152, 0.13);
    border-radius: 28px 28px 0 0;
    max-width: 552px;
    width: 40%;
    margin-top: -191px;
    padding: 31px 45px 30px 48px;
}

.product-description .product-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-description .product-heading h2 {
    font-family: 'Averia Serif Libre';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2225;
    color: #2C2B2A;
    width: calc(100% - 60px);
    padding-right: 10px;
}

.product-description .product-heading ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-description .product-heading li {
    margin-right: 17px;
}

.product-description .product-heading li:last-child {
    margin-right: 0;
}

.product-description .product-heading li button {
    border: 0;
    outline: unset !important;
    background: transparent;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description .product-heading li button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-description h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #8B6846;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.product-description h4.price {
    color: #2C2B2A;
    margin-bottom: 44px;
}

.product-description p {
    font-family: 'Averia Serif Libre';
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.015em;
    color: #2C2B2A;
    margin-bottom: 50px;
}

.product-description .color-variation {
    margin-bottom: 47.76px;
}

.product-description .color-variation span {
    font-family: 'Averia Sans Libre';
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 6px;
    display: block;
}

.product-description .color-variation h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C2B2A;
    margin-bottom: 6px;
}


.color-variation .choose-color {
    display: flex;
    flex-wrap: wrap;
}

.color-variation .choose-color li {
    margin-right: 10px;
    position: relative;
}

.color-variation .choose-color li:last-child {
    margin-right: 0;
}

.color-variation .choose-color li input {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.color-variation .choose-color li label {
    width: 42px;
    height: 42px;
    border: 4px solid #ffffff;
    border-radius: 8px;
    display: block;
}

.color-variation .choose-color li input:checked ~ label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 41px;
    height: 41px;
    border: 1px solid #2C2B2A;
    border-radius: 8px;
}

.product-description .quantity {
    margin-bottom: 47px;
}

.product-description .quantity h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C2B2A;
    margin-bottom: 12px;
}

.quantity-btn {
    display: flex;
    align-items: center;

}

.quantity-btn button,
.quantity-btn #minus-button,
.quantity-btn #plus-button {
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    outline: unset !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity-btn input {
    width: 31px;
    height: 31px;
    background: #E1E0DC;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #2C2B2A;
    margin: 0 3px;
    border: 0;
    outline: unset !important;
}

.product-description .how-pay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 14px;
}

.product-description .how-pay li {
    display: flex;
    align-items: center;
    margin-right: 11px;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: #2C2B2A;
}

.product-description .how-pay li + li::before {
    content: "|";
    margin-right: 11px;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: #2C2B2A;
}

.product-description .how-pay li img {
    max-width: 21px;
    max-height: 19px;
    object-fit: contain;
    margin-right: 3px;
}

.product-description .add-to-card-btn {
    height: 46.5px;
    background: #2C2B2A;
    border-radius: 12px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 42.48px;
    font-family: 'Averia Serif Libre';
    font-weight: 700;
    font-size: 18px;
    line-height: 46.5px;
    color: #F5F4F2;
    border: 0;
    outline: unset !important;
    text-align: center;
}

.product-description .form-group {
    padding-bottom: 54px;
}

.product-description hr {
    height: 1px;
    background: rgba(223, 222, 218, 0.77);
    width: 100%;
    margin-bottom: 30px;
    border: 0;
}

.product-description .form-group label {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #2C2B2A;
    display: block;
    margin-bottom: 12px;
}

.product-description .form-group input {
    height: 43px;
    background: rgba(223, 222, 218, 0.94);
    border-radius: 12px;
    padding: 0 22px;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: rgba(124, 127, 132, 1);
    width: 100%;
    border: 0;
    outline: unset !important;
}

.product-description .form-group input::placeholder {
    color: rgba(124, 127, 132, 0.84);
    text-transform: uppercase;
}

/*-_-_Product Page_Accordion_CSS_Start_-_-*/
.accordion {
    max-width: 100%;
}

.accordion-item {
    color: #111;
    margin-bottom: 14px;
}

.accordion-item-header {
    padding: 8px 15px 8px 0 ;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #2C2B2A;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "";
    background: url(../images/angle-down.svg) center center no-repeat;
    background-size: contain;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.accordion-item-header.active::after {
    transform: translateY(-50%) rotate(180deg);
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-body {
    padding-top: 6px;
}

.accordion-item-body p {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    letter-spacing: 0.015em;
    color: #000000;
    font-family: 'Graphik';
    margin-bottom: 13px !important;
}

.accordion-item-body p:last-child {
    margin-bottom: 0;
}

.accordion-item-body ul li {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.015em;
    color: #000000;
}
/*-_-_Product Page_Accordion_CSS_End_-_-*/

.product-tabs-links {
    padding: 0 26px;
}

.product-tabs-links ul {
    display: flex;
    flex-wrap: wrap;
}

.product-tabs-links ul li {
    margin-right: 22px;
}

.product-tabs-links ul li:last-child {
    margin-right: 0;
}

.product-tabs-links ul li a {
    background: #CBBEB4;
    border-radius: 15px 15px 0px 0px;
    min-width: 213px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    padding: 20px 32px 18px;
}

/* Complete Look */
.complete-look-wrap {
    background: #8B6846;
    padding: 98px 30px 150px;
}

.complete-look-wrap .complete-look-content {
    max-width: 1219px;
    margin: 0 auto;
}

.complete-look-wrap .complete-look-content h5 {
    font-family: 'Averia Serif Libre';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #F5F4F2;
    margin-bottom: 91px;
}

.complete-look-wrap .complete-look-content .img-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.complete-look-content .img-list li {
    margin-bottom: 138px;
    padding: 0 15px;
    font-size: 0;
    line-height: 1;
}

.complete-look-content .img-list li:last-child {
    margin-bottom: 0;
}

.complete-look-content .img-list li:first-child,
.complete-look-content .img-list li:nth-child(2) {
    width: 46.4%;
}

.complete-look-content .img-list li:nth-child(3) {
    width: 100%;
}

.complete-look-content .img-list li img {
    width: 100%;
}

/* Specifications & Dimension */
.specification-dimensions-wrap {
    background: #F8F7F6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.specification-dimensions-wrap .specification-dimensions-content {
    width: 36.5%;
    padding-left: 7.2%;
}

.specification-dimensions-content h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: #000000;
    margin-bottom: 7px;
}

.specification-dimensions-content p {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 38px;
}

.specification-dimensions-content ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    letter-spacing: 0.015em;
    margin-bottom: 10px;
}

.specification-dimensions-wrap .specification-dimensions-img {
    width: 63.5%;
}

.specification-dimensions-wrap .specification-dimensions-img img {
    max-width: 100%;
}

/* Related Products */
.related-product-wrap {
    padding: 143px 57px 225px;
}

.related-product-wrap>h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 39px
}

.related-product-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px -35px;
    justify-content: space-between;
}

.related-product-row .related-product-col {
    padding: 0 10px 35px;
    width: 25%;
}
/*-_-_Product-Page_CSS_End_-_-*/
